html, body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

#headerImage, #about, #skills, #experience, #projects, #contact {
  width: 100vw;
}

.one {
  width: 100%;
  margin-top: 50px;
}

/*For Introduction Name*/

.typeWriter h1 {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  font-size: 34px;
  text-align: justify;
  padding-left: 10px;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.typeWriter h2 {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  font-size: 30px;
  text-align: justify;
  padding-left: 10px;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.two {
  width: 100%;
  padding: 50px 50px 25px 50px;
  color: black;
}

#about p {
  font-size: 18px;
}

.three {
  width: 100%;
  padding: 0px 50px 25px 50px;
}

.four {
    width: 100%;
    padding: 50px 25px 50px 50px;
}

.five {
  width: 100%;
  padding: 50px 25px 25px 50px;
}

.six {
  width: 100%;
  padding: 50px 25px 25px 50px;
}

.hobbyContainer img {
  padding: 5px;
  transition: transform 0.5s ease;
}

.hobbyContainer:hover img {
  transform: scale(1.5);
}

.displayHobby {
  visibility: hidden;
}

@media (max-width: 768px) {
  #headerImage {
    height: 500px;
  }

  .aboutText p {
    font-size: 16px !important;
    text-align: justify !important;
  }
}

@media (min-width: 881px) and (max-width: 991px){
  .four{
    width: 100%;
  }
  .ExpText.expImgTitle{
    font-size: 26px;
  }

  .ExpText p{
    font-size: 18px;
  }

  .ExpText li{
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 881px) {
  .ExpText.expImgTitle {
    font-size: 24px;
  }

  .ExpText p {
    font-size: 16px;
  }

  .ExpText li {
    font-size: 14px;
  }
}

@media (min-width: 0px) and (max-width: 767px){
  .ExpText.expImgTitle {
    font-size: 18px;
  }

  .ExpText p {
    font-size: 12px;
  }

  .ExpText li {
    font-size: 8px;
  }
}

@media (max-width: 727px) {
  .typeWriter h1 {
    visibility: hidden;
  }

  .typeWriter h2 {
    visibility: hidden;
  }
}

@media (max-width: 575px) {
  .expRow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .projectRow img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media (max-width: 768px){
  .expRow li {
    font-size: 16px;
  }

  .projectRow li {
    font-size: 16px;
  }
}

.skillSet{
    align-items: center;
    z-index: 1;
    perspective: 1000;
    transform-style: preserve-3d;
}

.skillSet p{
    font-size: 18px;
    text-align: center;
    padding-top: 55px;
    font-weight: bold;
}

.skillSet img{
    padding: 50px;
    transition: all 1.0s linear;
}

.skillContainer img {
    padding: 5px;
    transition: transform 1.0s ease;
}

.skillContainer:hover img {
    transform: rotateY(180deg);
}

.displaySkill {
    visibility: hidden;
}

.contactContainer img {
  padding: 5px;
  transition: transform 0.5s ease;
}

.contactContainer:hover img {
  transform: scale(1.5);
}

.NetSuite{
  width: 100px;
  height: 100px;
}

.Boomi{
  height: 130px;
  width: 100px;
}

.Projects{
  text-align: center;
}

.Mobiletext{
  padding: 0px !important;
}

@media (max-width: 576px){
  .expRow img, .projectRow img{
    /* width: 80%; */
    padding-bottom: 20px;
  }
}
